# Ignore results and inputs
*.png
*.bmp
*.tga
*.obj
*.mtl
*.yml
*.json5
*.exr
*.pkl
*.stl
*.ply
/photostereo_py/.vscode/
!/samples/queen/*
/script/*.exr

# Ignore these folders and their contents
input/
aligned_output/
diff_output/
analysis_plots/
misc/
normal_map_generation/